@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  line-height: calc(1em + 0.5rem);
}

body {
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

#root, #__next {
  isolation: isolate;
}