@font-face {
  font-family: 'norsebold';
  src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
       url('../fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --green-color: rgb(43, 123, 43);
  --input-border-color: #E5E7EB;
  --right-background-color: rgb(245, 245, 245);
  --shadow-color: gray;
  --outline-color: rgb(111, 133, 230);
}

body {
  min-height: 100vh;
  display: flex;
}

.left {
  min-height: 100vh;
  width: 40%;
  color: white;
  background-image: url(../images/lexi-laginess-6poDd1l6UlM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
}

.odin-logo {
  display: inline;
  height: 6rem;
}

h1 {
  font-family: 'norsebold';
  font-size: 5rem;
  background-color: rgb(0, 0, 0, 0.5);
  margin-top: 35%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-author-credits {
  margin: auto auto 1rem;
  text-shadow: 2px 2px 4px black;
}

.image-author-credits a {
  color: white;
}

.right {
  width: 60%;
  min-height: 100vh;
  background-color: var(--right-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right__top {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.right__top p {
  margin: 1rem;
  max-width: 60ch;
}

#sign-up-form {
  background-color: white;
  box-shadow: 0 2px 4px 0 var(--shadow-color);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

#sign-up-form p {
  flex-basis: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1rem;
}

.field {
  margin: 1rem 3rem 1rem 1rem;
}

.field label {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}

.field input {
  padding: 0.5em;
  width: 30ch;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  font-weight: 600;
}

.field input:focus {
  outline: 2px solid var(--outline-color);
  box-shadow: 2px 2px 4px var(--shadow-color);
}

.field input:user-invalid {
  border: 1px solid red;
}

.field input:user-valid {
  border: 1px solid var(--green-color);
}

.right__bottom {
  padding: 1rem;
}

.right__bottom button, .right__bottom p {
  margin: 1rem;
}

button {
  min-width: 25ch;
  padding: 1em;
  background-color: var(--green-color);
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 4px var(--shadow-color);
  cursor: pointer;
}


.right__bottom p {
  font-weight: 600;
}

.right__bottom p a {
  color: var(--green-color);
  text-decoration: none;
  font-weight: 700;
}