@font-face {
  font-family: 'norsebold';
  src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
       url('../fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  background-image: url(../images/lexi-laginess-6poDd1l6UlM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: auto 100vh;
  display: flex;
}

.left, .right {
  min-height: 100vh;
}

.left {
  width: 40%;
  color: white;
}

.right {
  width: 60%;
}
